POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-swupdate \
  ##OEROOT##/../meta-iot-hub-device-update-delta \
  ##OEROOT##/../meta-azure-device-update \
  ##OEROOT##/../meta-azure-device-update-bsp \
  "
